.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;

    border: solid;
    border-color: rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

    background-color: beige;
    border-radius: 50px;
    box-sizing: border-box;


}



.row0#display {
    width: 50px;
    padding:50px;
}

button {
    width: 50px;
    height: 50px;

    justify-content: center;
    align-items: center;
    border: 1px solid #929292;
    border-radius: 50px;
  
    padding: 5px;
    margin:20px;
    font-family: lato;
    font-size: 20px;
    font-weight: 400;
    
    box-sizing: border-box;

}

